.product {
  width: 900px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.product__image {
  width: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.product__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details__title {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.details__desc {
  font-size: 0.85rem;
  color: var(--secondary-color);
}

.details__price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.product__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.buttons__btn {
  width: 100px;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  font-size: 0.65rem;
  font-weight: bold;
  cursor: pointer;
}

.buttons__btn:hover {
  opacity: 0.7;
}

.buttons__view {
  background: var(--light-color);
  color: var(--secondary-color);
}

.buttons__add {
  background: var(--secondary-color);
  color: var(--light-color);
}
